body {
    background-color: #6C757D;
    overflow-x: hidden;
}
.row{
    position: relative;
}
.container-fluid {
    height: 100vh;
}
.top {
    height: 100vh;
}
.middle {
    background-image: url("./imgs/pipes.png");
    height: 110vh;
    width: 100vw;
    background-color: #f1efe2;
    background-attachment: fixed;
    background-position: center;
}
h2 {
    margin: 0px;
    position: absolute;
    left: 20%;
    top: 40%;
    animation-name: titleText;
    animation-duration: 2s;
}
#abm {
    position: absolute;
    left: 5%;
    top: 10%;
}
#aboutMe{
    position: static;
}
#abmbody {
    position: absolute;
    left:5%;
    top:15%;
    word-wrap: break-word;
    width: 400px;
    border-radius: 5%;
    background: rgba(204, 204, 204, .4)
}

#icons{
    position: absolute;
    top: 43%;
    left: 5%;
}
#ava {
    position: absolute;
    left: 5%;
    top: 5%;
    max-height: 50%;
}
h2:before {
    border-bottom: 10px solid white;
    display: flex;
    justify-content: center;
    align-content: center;
    content: "";
    height: 5px;
    border-bottom: 1px solid white;
    top: 0;
    width: 175%;
    width: 600px;
    transition: width 2s;
 } 
#skills{
    position: absolute;
    top: -35%;
    left: 5%;
}

#skillsbody {
    position: relative;
    top: 55%;
    left: -2%;
}
 
#third{
    margin-top: 5%;
    height: 110vh;
}
.low {
    position: absolute;
    bottom: 4.5%;
    left: 49.5%;
}
.low2 {
    position: absolute;
    bottom: 1%;
}
#skilllist {
    margin-left: 5%;
    padding: 0;
}

#fourth {
        height: 500px;
        width: 100vw;
        background-color: #f1efe2;
}

@keyframes titleText {
    0% {left: 0%;}
    100% {left: 20%;}
}

@keyframes titleLine {
    0% {top: 0%;}
    100% {top: 20%;}
}