body {
    color: black;
  }

  a {
    color: black;
  }

  a:hover {
    color: white;
  }

  #topRow {
    height: 100vh;
    background-color: #729f98;
  }

  #aboutRow {
    min-height: 105vh;
    background-image: url("./imgs/pipes.png");
    background-attachment: fixed;
    background-position: center;
  }

  @media (min-width: 768px) {
  #name:before {
    display: flex;
    content: "";
    border-bottom: 1px solid #f0eceb;
    width: 0%;
    animation: titleLine 3s 3s forwards;
     } 
  }
  
  @media (min-width: 1025px) {
    #nashville {
      position: relative;
      top: 16%;
      left: 10%
    }
    #LBJP {
        position: relative;
        top: 4%;
        left: 5%
      }
  }

  @media (width: 1440px) and (height: 718px) {
      /* body {
          overflow-x: hidden;
      } */
    #nashville {
      position: relative;
      top: 40%;
      left: -1%
    }
    #LBJP {
        position: relative;
        top: 15%;
        left: 2%
      }
  }

  #testimonialsSection {
      margin-bottom: 10px;
  }


  #projectRow {
    background-color: #729f98;
  }

  #contactRow {
    min-height: 100vh;
    background-image: url("./imgs/pipes.png");
    background-attachment: fixed;
    background-position: center;
  }

  #topMaster {
    margin-left: 10%;
    animation: titleTextMove 3s;
  }

  #name {
    animation: colorChange 3s;
  }

  #icons {
    animation: colorChange 4s 3s forwards;
    color: #729f98;
  }

  #chevron {
    color: #729f98;
    animation: colorChange 4s 3s forwards;
  }

  #aboutMe {
    margin-bottom: 5%;
    background-color: #e6cf8b;
  }

  #skillSection {
    margin-bottom: 5%;
    background-color: #e6cf8b;
  }

  #testimonialsSection {
    background-color: #e6cf8b;
  }

  #projectHeader {
    color: #ffebaf;
    /* text-shadow: 2.5px 2.5px rgba(34, 38, 75, .4); */
    text-shadow: 1.5px 1.3px rgba(0, 0, 0, .3);
  }

  #stripe1 {
    background-color: #b56969;
    color: white;
    min-height: 50px;
  }

  #stripe2 {
    background-color: #22264b;
    color: white;
    min-height: 50px;
  }

  .contactTable {
    background-color: #e6cf8b;
    margin-right: 10%;
    margin-left: 10%;
  }


  @keyframes titleTextMove {
    0% {
      margin-left: 0%;
    }

    100% {
      margin-left: 10%;
    }
  }

  @keyframes colorChange {
    0% {
      color: #729f98;
    }

    100% {
      color: black;
    }
  }

  @keyframes titleLine {
    0% {
      width: 0px;
    }

    100% {
      width: 175%;
    }
  }